﻿@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs verticaloffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
                <!-- atentie: tre sa pui un spatiu dupa d, altfel nu afiseaza corect doar ziua -->
            </div>
            <div class="details">
                <span class="artist">@gig.Venue</span>
                <span class="genre">@gig.Genre.Name</span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })">
                        Edit
                    </a>
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">Cancel</a>
                </div>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {
                var link = $(e.target);// variabila link va contine elementul <a></a> care a fost click-uit
                
                bootbox.dialog({
                    message: "Are you sure you want to cancel this gig?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/api/gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE"
                                })
                                .done(function () {
                                    // eliminam respectivul Gig din pagina; 
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });

                                })
                                .fail(function () {
                                    alert("Something went wrong!");
                                });
                            }
                        }
                    }
                });

            });
        });
    </script>
}